// colors
:root {
  //erin
  --primary: #00ff62;
  //eerie-black
  --secondary: #131b16;
  //timberwolf
  --accent: #d7cfcc;
  //linen
  --text: #faeee0;
  //bg
  --bg: #feffff;
}

// mini reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

  &:focus {
    outline: none;
  }
}
