@use "./responsive";
// shared : var | mixins | typo | :root
@use "./shared";

// layout
@use "./layout";

// home page
@use "./home";

body {
  margin: 0 auto;
  background: var(--bg);
  min-height: 100dvh;
  min-height: 100vh;
}

button,
a {
  cursor: pointer;
}
